.detail {
    width: full;
    height: 300vh;
}

.detailPage-containerTop {
    display: flex;
    justify-content: center;
    margin: auto;
}

.detailPage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item-container {
    height: 62.063rem;
    display: flex;
    justify-content: center;
    margin-top: 11.688rem;
}

.itmeImg-container {
    width: 39.5rem;
    height: 48.063rem;
    display: flex;
    justify-content: center;
    margin-right: 14.75rem;
}
.itemImg {
    width: 33.25rem;
    height: 44.125rem;
    background-color: black;
}

.itemInfo-container {
    width: 26.938rem;
    height: 44.125rem;
}

.itemInfo {
    width: 25.813rem;
    height: 44.125rem;
    text-align: left;
}

.title {
    font-size: 1.875rem;
    height: 3.375rem;
    border-bottom: solid 0.063rem #CCCCCC;
    font-weight: bold;
}

.nowPrice, .immediatePrice {
    font-size: 1.25rem;
}

.endTime {
    width: 26.938rem;
    height: 1.938rem;
    background-color: #F2F2F2;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.813rem;
    position: relative;
    right: 0.5212rem;
}

.bidPrice-container {
    height: 4.063rem;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.inputBid {
    width: 18.75rem;
    height: 2.25rem;
    text-align: right;
    border-radius: 0.5rem;
}

.bidHigh {
    width: 18.75rem;
    height: 1.063rem;
    font-size: 0.875rem;
    position: absolute;
    top: 2rem;
    right: 0;
}

.bidBtn {
    width: 26.938rem;
    height: 2.5rem;
    margin-bottom: 4.688rem;
}
.bidBtn, .buyBar {
    display: flex;
    justify-content: center;
}

.bidding, .buyNow, .favorite, .linkCopy {
    width: 5.938rem;
    height: 2.5rem;
    font-size: 0.938rem;
    border: none;
    background-color: #F2F2F2;
}

.bidding, .buyNow, .favorite {
    margin-right: 1.063rem;
}

.detailBox {
    height: 9rem;
}

.detailBox1, .detailBox2, .detailBox3 {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.938rem;
}

.detailEx {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.txtEx-containerTop{
    width: 85.313rem;
    margin-bottom: 6.688rem;
}

.txtEx {
    width: 43.813rem;
    height: 19.375rem;
    margin: 0 3.125rem;
    border-top: solid 1px #CCCCCC;
    border-bottom: solid 1px #CCCCCC;
}

.txtTitle {
    font-size: 1.563rem;
    font-weight: bold;
    margin-bottom: 2.938rem;
}

.txtContent {
    font-size: 1.25rem;
}

.imgEx-containerTop {
    width: 85.313rem;
}

.imgEx {
    height: auto;
    margin: 0 3.125rem;
}

.imgTile {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1.875rem;
}

.bigimage {
    width: 40.688rem;
    height: 54rem;
    object-fit: contain;
    object-position: 10% 50%;
}